@import url('https://fonts.googleapis.com/css?family=Metamorphous&display=swap');
.back{
  background-image: url('https://i.imgur.com/HuCCYKH.jpg');
  background-attachment:fixed;
  background-position:0px 0px;
}

